@media only screen and (max-width: 680px) {
    body {
      width:100vh;
       display:center;
    }
  }
  a {
    text-decoration: none;
    color:black;
    }
  a:link, a:visited {
    text-decoration: none;
    color:black;
  }
  a:hover {
    text-decoration: none;
    color:black;
  }
body
{
 margin:0px auto;
 padding:0px;
 text-align:justify;
 width:80vh;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
}
#header
{
 width:100%;
 margin:0px auto;
 padding:0px;
 text-align:center;
 height:0px;
 line-height:70px;
}
#header li
{
 display:inline-block;
 position:center;
 margin-right:25px;
 font-size:17px;
 font-weight:bold;
 cursor:pointer;
}
#header #site_name
{
 text-align:center;
 width:680px;
 font-size:35px;
 margin-top:20px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
#home,#about,#contact
{
 margin-top:100px;
 width:70vh;
 height:400px;
 padding-right:5vh;
 padding-left:6vh;
}
#home h1
{
 font-size:40px;
}
#home p
{
 font-size:20px;
}
#about p
{
 font-size:20px;
 text-align: justify;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
#contact input[type="text"]
{
 width:250px;
 height:35px;
 padding-left:10px;
 float:left;
 margin-left:80px;
 border:none;
}
#contact textarea
{
 float:left;
 width:250px;
 height:35px;
 margin-left:20px;
 border:none;
 padding-left:10px;
 padding-top:10px;
}
#contact input[type="submit"]
{
 float:left;
 margin-left:20px;
 height:35px;
 width:100px;
 background:none;
}
.disable-text-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
